* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 1em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, lightblue), to(cadetblue));
  background: linear-gradient(to bottom, lightblue 25%, cadetblue);
  height: 100vh;
}

.add__form {
  padding: 5em;
  width: 5em;
  height: auto;
  background-color: cadetblue;
  -webkit-clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
  position: relative;
  border-radius: 5px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.add__form:hover {
  cursor: pointer;
}

.add__form:hover .close {
  opacity: 1;
}

.add__form .close {
  position: absolute;
  left: 48%;
  top: 35%;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.add__form .close:before,
.add__form .close:after {
  position: absolute;
  left: 0px;
  top: 0px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
}

.add__form .close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.add__form .close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#triangle-topright {
  width: 0;
  height: 0;
  border-top: 32px solid #75c1c4;
  border-left: 32px solid transparent;
  position: absolute;
  top: 0;
  left: 80%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/*------------------------------------------- FORM -------------------------------------------*/
#display-none {
  display: none;
  position: absolute;
  top: 10vh;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.filling__form {
  width: 100%;
  padding: 3em;
  margin: 2rem auto;
  border: 1px solid cadetblue;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  position: relative;
  min-width: 300px;
  max-width: 550px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, lightblue), to(cadetblue));
  background: linear-gradient(to top, lightblue 25%, cadetblue);
}

.filling__form .form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filling__form .form__wrapper * {
  margin: 0.2rem auto;
}

.filling__form .form__wrapper input {
  padding: 0.2rem;
}

/*-------------------------------------------LISTS-----------------------------------------*/
.list {
  display: none;
  margin: 2rem 0;
  width: 100%;
  font-size: 1.5rem;
}

.list__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.list__elements > div {
  padding: 1rem;
  margin: 0.2rem;
  border-radius: 5px;
}

.todo {
  background: #75c1c4;
  width: 100%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.done {
  background: cadetblue;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 100%;
}

.todo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: cadetblue;
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 5px;
}

.done__style__element {
  background: #75c1c4;
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 5px;
}

#notes__created,
#notes__done {
  font-size: 1.25rem;
  font-family: "Courier New", Courier, monospace;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
  color: #14758d;
  font-family: 'Birthstone', cursive;
  text-align: center;
  text-shadow: black 0px 2px;
}

@media only screen and (max-width: 750px) {
  .list__elements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .filling__form {
    padding: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */